{% extends 'AppAerolineas/00_index.html' %}
{% load static %}

{% block cuerpo %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1579032128/coder-logo-white_t41xzb.png" alt="Logo de CoderHouse" width="475" height="90"><br><br>
                        <h4>Bienvenido al Entregable Final de</h4><br>
                        <h2>Python-36585 (CoderHouse)</h2><br>
                        <!--<h5>Acceda a los contenidos de Aeropuertos, Aerolineas y Vuelos siguiendo la barra de navegación.</h5>-->
                        <br><a class="btn btn-primary" href="admin">Administración</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


{% endblock %}