{% extends "AppAerolineas/00_index.html" %}
{% load bootstrap5 %}



{% block cuerpo %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>BUSCAR PAIS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'pais_aerop_search'%}" method="post">
                {% csrf_token %}
                {% bootstrap_form search_form %}
                {% bootstrap_button "BUSCAR" button_type="submit" button_class="btn-primary" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}